$('#btnGiveUp').remove();

function closeModal(){
  $("#game-over").modal('hide');
}

var result = "<div class='end-game ";
if(<%= @winner == current_user %>){
  $("#messages").text("You've won").removeClass().addClass("bg-success");
  result+= "win'><a href='#' onclick='closeModal();' class='close'>X</a><div class='winner'>";
}
else{
  $("#messages").text("You've lost").removeClass().addClass("bg-danger");
  result+= "lose'><a href='#' onclick='closeModal();' class='close'>X</a><div class='gameover'>";
}
result += "</div>" +
    "<a href='/' class='btn btn-default float-right'>Back Home</a></div>";

var dialog = "<div class='modal fade' id='game-over'>" + result + "</div>"
$("#battle-field").append(dialog);
$("#game-over").modal('show');

disableSeaBox($('#enemy-board .seaBox'));

