<script type="text/javascript">
  $(function () {
    <% if @player_board.nil? %>
    var placementBoard =
        '<div id="shipSelection">' +
        '<div id="shipYard">' +
        '<div class="ship" id="aircraft"></div>' +
        '<div class="spacer"> </div>' +
        '<div class="ship" id="destroyer1"></div>' +
        '<div class="spacer"> </div>' +
        '<div class="ship" id="cruiser1"></div>' +
        '<div class="spacer"> </div>' +
        '<div class="ship" id="cruiser2"></div>' +
        '<div class="spacer"> </div>' +
        '<div class="ship" id="destroyer2"></div>' +
        '</div>' +
        '<form>' +
        '<a href="#" class="btn btn-primary btn-lg btn-block alt">Ready</a>' +
        '</form>' +
        '</div>';

    $('#enemy-board').hide();
    $('#battle-field').append(placementBoard);
    $('#player-board').addClass('placementBoard');
    $('#messages').text("Place your ships");


    $('.ship').draggable({

      containment: '.placementBoard',
      snap: ".seaBox",
      grid: [40, 40],
      //stack: ".ship"
      revert: "invalid",

      drag: function (even, ui) {

      }


    });


    $('.seaBox').droppable({
      tolerance: "intersect",
      accept: ".ship",
      drop: function (event, ui) {
        //ui.draggable.detach().appendTo($(this));
        //console.log(ui.draggable.attr("id") + " at pos " + $(this).attr("id"));
        //console.log(ui.position);
        //console.log("drop " + $(this).attr("id").substring(3));
        //console.log("ship " + ui.draggable.attr("id"));
        setShip(ui.draggable.attr("id"), $(this).attr("id").substring(3));
        //$(this).droppable('disable').addClass("test");
        //$(this).droppable('disable');
        //$(this).addClass("highlight");


      },
      out: function (event, ui) {
        console.log("out " + $(this).attr("id").substring(3));
        //console.log("ship " + ui.draggable.attr("id"));
        unsetShip(ui.draggable.attr("id"), $(this).attr("id").substring(3));
        //$(this).droppable('enable').removeClass("test");
        //$(this).droppable('enable');
        //$(this).removeClass("test");
      }
    });

    $(".ship").dblclick(function () {

      var ship_id = $(this).attr("id");
      var height = $(this).css("height");
      var width = $(this).css("width");

      ship_id = ship_id.charAt(ship_id.length - 1) == 'V' ? ship_id.slice(0, -1) : ship_id + "V";

      $(this).css("height", width);
      $(this).css("width", height);
      $(this).attr("id", ship_id);

    });

    function setShip(shipType, pos) {
      if (shipType == "aircraft") {
        $("#pos" + (pos - 2)).addClass("s").droppable("option", "accept", "#" + shipType);
        $("#pos" + (pos - 1)).droppable("option", "accept", "#" + shipType);
        $("#pos" + (pos)).droppable("option", "accept", "#" + shipType);
        $("#pos" + (parseInt(pos) + 1)).droppable("option", "accept", "#" + shipType);
        $("#pos" + (parseInt(pos) + 2)).droppable("option", "accept", "#" + shipType);
      }
      else if (shipType.substring(0, shipType.length - 1) == "cruiser") {
        $("#pos" + (pos - 1)).addClass("s").droppable("option", "accept", "#" + shipType);
        $("#pos" + (pos)).droppable("option", "accept", "#" + shipType);
        $("#pos" + (parseInt(pos) + 1)).droppable("option", "accept", "#" + shipType);
      } else {
        $("#pos" + (pos)).addClass("s").droppable("option", "accept", "#" + shipType);
        $("#pos" + (parseInt(pos) + 1)).droppable("option", "accept", "#" + shipType);
      }

    }


    function unsetShip(shipType, pos) {
      if (shipType == "aircraft") {
        $("#pos" + (pos - 2)).removeClass("s").droppable("option", "accept", ".ship");
        $("#pos" + (pos - 1)).droppable("option", "accept", ".ship");
        $("#pos" + (pos)).droppable("option", "accept", ".ship");
        $("#pos" + (parseInt(pos) + 1)).droppable("option", "accept", ".ship");
        $("#pos" + (parseInt(pos) + 2)).droppable("option", "accept", ".ship");
      }
      else if (shipType.substring(0, shipType.length - 1) == "cruiser") {
        $("#pos" + (pos - 1)).removeClass("s").droppable("option", "accept", ".ship");
        $("#pos" + (pos)).droppable("option", "accept", ".ship");
        $("#pos" + (parseInt(pos) + 1)).droppable("option", "accept", ".ship");
      } else {
        $("#pos" + (pos)).removeClass("s").droppable("option", "accept", ".ship");
        $("#pos" + (parseInt(pos) + 1)).droppable("option", "accept", ".ship");
      }

      //$("#pos" + (pos - 2)).droppable("enable").removeClass("s");
      //$("#pos" + (pos - 1)).droppable("enable");
      //$("#pos" + pos).droppable("enable");
      //$("#pos" + (parseInt(pos) + 1)).droppable("enable");
      //$("#pos" + (parseInt(pos) + 2)).droppable("enable");

    }

    <% else %>
    // here will render the board
    <% end %>
  })
</script>