<script type="text/javascript">

  $(function () {
    <% if @player_board.nil? %>

    console.log("player board <%= @player_board %>");


    var placementBoard = placementBoard();

    $('#enemy-board').hide();
    $('#btnGiveUp').hide();
    $('#battle-field').append(placementBoard);
    $('#player-board').addClass('placementBoard');
    $('#messages').text("Place your ships").removeClass().addClass("bg-info");


    $('.ship').draggable({

      containment: '.placementBoard',
      snap: ".seaBox",
      grid: [40, 40],
      revert: "invalid"
    });


    $('.seaBox').droppable({
      tolerance: "intersect",
      accept: ".ship",
      drop: function (event, ui) {
        if (!checkCollisionById(getShipId(ui.draggable), calculateShipPosition(getShipId(ui.draggable), getShipId($(this)))))
          appendShip(ui.draggable, getShipId($(this)));
        else {
          var position = $("#" + getShipAppendedPosition(ui.draggable)).position();
          ui.draggable.animate({
            top: position.top,
            left: position.left
          }, 500);
        }
      }
    });

    $(".ship").dblclick(function () {
      var ship = $(this);
      // check if the tail of the ship is inside the board
      if(isValidPosition(ship)){
        var ship_id = getShipId(ship);
        var shipPostfix = ship_id.charAt(ship_id.length - 1)
        var new_ship_id =  shipPostfix == 'V' ? ship_id.slice(0, -1) : ship_id + "V";

        // check if with the new id there's collisions if not then sets the dimensions of the ship else undo the change
        ship.attr("id", new_ship_id);
        if(!checkCollision(ship)){
          var height = ship.css("height");
          var width = ship.css("width");

          ship.css("height", width);
          ship.css("width", height);
        }else {
          ship.attr("id", ship_id);
        }


      }
    });




    $("#ready").click(function () {
      setBoardPlacement();
    });

    function placementBoard() {
      var placementBoard =
          '<div id="placementBoard">' +
          '<div id="shipSelection">' +
          '<div id="shipYard">' +
          '<div class="ship" id="aircraft"></div>' +
          '<div class="spacer"> </div>' +
          '<div class="ship" id="destroyer1"></div>' +
          '<div class="spacer"> </div>' +
          '<div class="ship" id="cruiser1"></div>' +
          '<div class="spacer"> </div>' +
          '<div class="ship" id="cruiser2"></div>' +
          '<div class="spacer"> </div>' +
          '<div class="ship" id="destroyer2"></div>' +
          '</div>' +
          '<form>' +
          '<a href="#" id="ready" class="btn btn-primary btn-lg btn-block alt">Ready</a>' +
          '</form>' +
          '</div>' +
          '</div>';
      return placementBoard;
    }

    <% else %>
    // here will render the board

    $("#enemy-board").show();
    $('#btnGiveUp').show();


    var board = "<%= @player_board %>";
    displayPlayerShips(board);
    readyToAttack(<%= current_user.id == @battle.active_player %>);

    <% end %>
  });
  /**
   * function that allows to attack the other player
   * required here because must access the variables in the controller
   */
  function activateClick() {
    $("#messages").text("Ready to attack !!").removeClass().addClass("bg-success");
    $('#enemy-board .seaBox').on("mouseenter", function () {
      $(this).addClass("target");
    });
    $('#enemy-board .seaBox').on("mouseleave", function () {
      $(this).removeClass("target");
    });
    $("#enemy-board").on("click", function () {

      var battleId = "<%= @battle.id %>";
      var attack = $(this).attr("id");

      $.ajax({
        url: "/battle/" + battleId + "/edit?attack=" + attack,
        type: "post",
        success: function () {
          deactivateClick();
          console.log('successful attack');
        },
        error: function () {
          alert('Error');
        }

      });
    });
  }
  /**
   * function that tell us to wait while the other player attacks
   * required here because must access the variables in the controller
   */
  function deactivateClick() {
    $("#messages").text("Waiting for enemy").removeClass().addClass("bg-danger");
    $("#enemy-board").off("click");
    $("#enemy-board .seaBox").off("mouseenter");
    $("#enemy-board .seaBox").off("mouseleave", function () {
      $(this).removeClass("target");
    });
  }

</script>