<script type="text/javascript">

  $(function () {
    <% if @player_board.nil? %>

    console.log("player board <%= @player_board %>");


    var placementBoard = placementBoard();

    $('#enemy-board').hide();
    $('#btnGiveUp').hide();
    $('#battle-field').append(placementBoard);
    $('#player-board').addClass('placementBoard');
    $('#messages').text("Place your ships").removeClass().addClass("bg-info");


    $('.ship').draggable({

      containment: '.placementBoard',
      snap: ".seaBox",
      grid: [40, 40],
      revert: "invalid"
    });


    $('.seaBox').droppable({
      tolerance: "intersect",
      accept: ".ship",
      drop: function (event, ui) {
        if (!checkCollision(getShipId(ui.draggable), calculateShipPosition(ui.draggable, getShipId($(this)))))
          appendShip(ui.draggable, getShipId($(this)));
        else {
          var position = $("#" + getShipAppendedPosition(ui.draggable)).position();
          ui.draggable.animate({
            top: position.top,
            left: position.left
          }, 500);
        }
      }
    });

    $(".ship").dblclick(function () {
      var ship_id = getShipId($(this));
      var height = $(this).css("height");
      var width = $(this).css("width");

      ship_id = ship_id.charAt(ship_id.length - 1) == 'V' ? ship_id.slice(0, -1) : ship_id + "V";

      $(this).css("height", width);
      $(this).css("width", height);
      $(this).attr("id", ship_id);

    });

    /**
     * Append ship to board
     */
    function appendShip(ship, pos) {
      ship.detach().appendTo($("#" + calculateShipPosition(ship, pos)));
    }

    function calculateShipPosition(ship, pos) {
      var shipId = ship.attr("id");
      var headPos = "";
      if (shipId.indexOf("aircraft") > -1) {
        headPos = pos - (2 * getStep(shipId));
      }
      else if (shipId.indexOf("cruiser") > -1) {
        headPos = pos - (1 * getStep(shipId));
      } else {
        headPos = pos;
      }
      return headPos;
    }

    /**
     * Check if there's collision
     * @param shipId id of dragged ship
     * @param shipPos position of the ship
     * return true if collision found
     */
    function checkCollision(shipId, shipPos) {
      var collision = false;
      $(".ship").each(function () {
        var ship = $(this);
        var otherId = getShipId(ship);
        var otherPos = getShipAppendedPosition(ship);
        if (shipId != otherId && shipPos != "shipYard") {
          if (comparePosition(shipPos, otherPos, getShipSize(shipId), getShipSize(otherId), getStep(shipId), getStep(otherId))) {
            collision = true;
            return false;
          }
        }
      });
      return collision;
    }

    /**
     *
     * @param posDragged position of the dragged ship
     * @param pos2 position of the other ship
     * @param size1 size of the ship at pos1
     * @param size2 size of the ship at pos2
     * @param step1 if is horizontal the step 1
     * @param step2 if is vertical the step is 10
     */
    function comparePosition(posDragged, pos2, size1, size2, step1, step2) {

      if (pos2 != "shipYard") {
        var tailShip1 = getShipTail(posDragged, size1, step1);
        var tailShip2 = getShipTail(pos2, size2, step2);
        for (var i = parseInt(posDragged); i <= tailShip1; i += step1) {
          for (var k = parseInt(pos2); k <= tailShip2; k += step2) {
            if (k == i) {
              return true;
            }
          }
        }
      }
      return false;
    }


    $("#ready").click(function () {
      setBoardPlacement();
    });

    function placementBoard() {
      var placementBoard =
          '<div id="placementBoard">' +
          '<div id="shipSelection">' +
          '<div id="shipYard">' +
          '<div class="ship" id="aircraft"></div>' +
          '<div class="spacer"> </div>' +
          '<div class="ship" id="destroyer1"></div>' +
          '<div class="spacer"> </div>' +
          '<div class="ship" id="cruiser1"></div>' +
          '<div class="spacer"> </div>' +
          '<div class="ship" id="cruiser2"></div>' +
          '<div class="spacer"> </div>' +
          '<div class="ship" id="destroyer2"></div>' +
          '</div>' +
          '<form>' +
          '<a href="#" id="ready" class="btn btn-primary btn-lg btn-block alt">Ready</a>' +
          '</form>' +
          '</div>' +
          '</div>';
      return placementBoard;
    }

    <% else %>
    // here will render the board

    $("#enemy-board").show();
    $('#btnGiveUp').show();


    var board = "<%= @player_board %>";
    displayPlayerShips(board);
    readyToAttack(<%= current_user.id == @battle.active_player %>);

    <% end %>
  });
  /**
   * function that allows to attack the other player
   * required here because must access the variables in the controller
   */
  function activateClick() {
    $("#messages").text("Ready to attack !!").removeClass().addClass("bg-success");
    $('#enemy-board .seaBox').on("mouseenter", function () {
      $(this).addClass("target");
    });
    $('#enemy-board .seaBox').on("mouseleave", function () {
      $(this).removeClass("target");
    });
    $("#enemy-board").on("click", function () {

      var battleId = "<%= @battle.id %>";
      var attack = $(this).attr("id");

      $.ajax({
        url: "/battle/" + battleId + "/edit?attack=" + attack,
        type: "post",
        success: function () {
          deactivateClick();
          console.log('successful attack');
        },
        error: function () {
          alert('Error');
        }

      });
    });
  }
  /**
   * function that tell us to wait while the other player attacks
   * required here because must access the variables in the controller
   */
  function deactivateClick() {
    $("#messages").text("Waiting for enemy").removeClass().addClass("bg-danger");
    $("#enemy-board").off("click");
    $("#enemy-board .seaBox").off("mouseenter");
    $("#enemy-board .seaBox").off("mouseleave", function () {
      $(this).removeClass("target");
    });
  }

</script>