// when document ready draw the board
$(document).ready(function () {
  var board = generateBoard();
  $(".board").append(board);
  $("#enemy-board").children().append("<span class='hole'></span>");

});





