// when document ready draw the board
$(document).ready(function () {
  var board = "";
  for (var i = 0; i < 100; i++) {
    board += "<div class='seaBox' id='pos" + i + "'></div>";
  }
  $(".board").append(board);
  $("#rightBoard").children().append("<span class='hole'></span>");


  $('.ship').draggable({
    containment: '#placementBoard',
    snap: ".seaBox",
    grid: [40, 40],
    //stack: ".ship"
    revert: "invalid"
  });


  $('#placementBoard .seaBox').droppable({

    drop: function (event, ui) {
      //alert(ui.draggable.attr("id") + " at pos " + $(this).attr("id"));
      //$(this).droppable('disable').addClass("test");
      //$(this).droppable('disable');
      //$(this).addClass("highlight");
    },
    out: function () {
      //$(this).droppable('enable').removeClass("test");
      //$(this).droppable('enable');
      //$(this).removeClass("test");
    }
  });
  $(".ship").dblclick(function () {

    var ship_id = $(this).attr("id");
    var height = $(this).css("height");
    var width = $(this).css("width");

    ship_id = ship_id.charAt(ship_id.length - 1 ) == 'V' ? ship_id.slice(0, -1) : ship_id + "V";

    $(this).css("height", width);
    $(this).css("width", height);
    $(this).attr("id", ship_id);

  });

  enemyBoard.highlight("#rightBoard  .seaBox");
});

// class
var enemyBoard = {
  // add variables to save stuff
  highlight: function (seaBox) {
    $(seaBox).on("mouseenter", function () {
      $(this).addClass("target");
    });
    $(seaBox).on("mouseleave", function () {
      $(this).removeClass("target");
    });
    $(seaBox).on("click", function () {
      //alert($(this).attr('class'));
      $(this).children().addClass("miss");
      /*if ((this).hasClass('ship')) {
       $(this).addClass("hit");
       } else {
       $(this).addClass("miss");
       alert("clicked");

       }*/
    });
  }
};
